.container {
}

.heading {
	text-align: center;
	font-size: 1.4rem;
	line-height: 1.2;
	font-weight: 700;
	margin-bottom: 30px;
}
.list {
	& svg {
		max-width: 40px;
	}
}
.item {
	max-width: 700px;
	margin: 20px auto;
	@media print {
		margin: 10px auto;
	}
}
.card {
	display: flex;
	padding: 10px;
	gap: 30px;
	align-items: center;
	justify-content: space-between;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	@media (max-width: 600px) {
		gap: 15px;
	}
	@media (max-width: 600px) {
		gap: 10px;
		padding: 5px 10px;
	}
	@media print {
		padding: 5px 10px;
	}
}
.block {
	display: flex;
	gap: 30px;
	align-items: center;
	@media (max-width: 600px) {
		gap: 15px;
	}
	@media (max-width: 450px) {
		gap: 10px;
	}
}
.image {
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 15px;
	@media (max-width: 600px) {
		width: 60px;
		height: 60px;
	}
	@media (max-width: 450px) {
		width: 45px;
		height: 45px;
		border-radius: 10px;
	}
	@media (max-width: 410px) {
		display: none;
	}
}
.text {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 30ch;
}
.title {
	font-weight: 600;
	font-size: 1.1rem;
	line-height: 1.2;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 15ch;
	@media (max-width: 600px) {
		font-size: 0.9rem;
		width: 10ch;
	}
	@media print {
		max-width: none;
		width: auto;
	}
}
.artists {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 15ch;
	cursor: pointer;
	@media (max-width: 600px) {
		font-size: 0.8rem;
		width: 10ch;
	}
	@media print {
		max-width: none;
		width: auto;
	}
}
.link {
	text-decoration: none;
	color: black;
	&:hover {
		color: cyan;
	}
}
.audio {
	display: inline-block;
	border-radius: 10px;
	@media print {
		display: none;
	}
}
